/* 将导航链接水平排列 */
.header {
    display: flex;
    background-color: #FFFFFF; /* 设置导航栏背景颜色 */
    padding: 10px; /* 设置导航栏内边距 */
    height: 90px;
    margin-left:6vw;
    width:100vw;
    z-index: 10
}

.li {
    padding-right: 6vw; /* 为列表项之间添加间距 */
    align-self: center;
}

.Button {
    width: 8vw;
    height: 6vh;
    border-radius: 6px;
    border: 2px solid #2077F7;
    color: #2077F7;
    background-color: #FFFFFF; /* 设置默认背景颜色 */
    margin-right: 2vw;
    margin-top: 1vh;
    font-size: 0.8vw;
    z-index: 1;
}


/* 按钮悬停时的样式 */
.Button:hover {
    background-color: #2077F7; /* 设置悬停时的背景颜色 */
    color: #fff; /* 设置悬停时的文本颜色 */
    cursor: pointer;
}

.Poster {
    position: absolute;
    right: 0;
    width: 50vw;
    z-index: 1;
    height: 60vh;
}

@font-face {
    font-family: 'AlimamaShuHeiTi-Bold';
    src: url('../resources/FontFamily/Alimama_ShuHeiTi_Bold.ttf') format('truetype'); /* 根据字体文件的格式选择合适的值 */
}

.blueMark {
    color: #2077f7;
    pointer-events: none;
}

.Slogan {
    color: #272727;
    font-family: 'AlimamaShuHeiTi-Bold', 'sans-serif';
    height: 35px;
    font-weight: bold;
    font-size: 2.5vw;
    letter-spacing: 5px;
}

.HighLight {
    color: #F83131;
    font-family: 'AlimamaShuHeiTi-Bold', 'sans-serif';
    height: 35px;
    font-weight: bold;
    position: relative;
    letter-spacing: 5px;
    font-size: 2.5vw;
    z-index: 1; /* 设置文本的堆叠顺序，确保在图片之上 */
}

.search-input {
    background-image: url("../resources/Img/search.png");
    background-repeat: no-repeat;
    background-position: 2vw,3vh;
    flex: 1;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    border-radius: 10px;
    font-size: 24px; /* 设置字体大小 */
    height: 10vh;
    width:40vw;
    padding-left: 5vw;
}

/* 自定义占位文本的样式 */
.search-input::placeholder {
    color: #999; /* 设置文本颜色 */
    font-size: 1vw; /* 设置字体大小 */
    line-height: 8vh;
    position: absolute;
    left: 5vw;
}

.search-button {
    background-color: #F83131;
    color: #fff;
    border: none;
    /*border-bottom-right-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    border-radius: 0 10px 10px 0;
    height: 10.6vh;
    width: 12vw;
    cursor: pointer;
    position: absolute;
    left: 38vw;
    top: -2px;
    font-size: 2vw;
}

.search-button:hover {
    color: white;
}

.search-bar {
    z-index: 2;
    position: absolute;
    top: 40vh;
    left: 3vw;
}