/* 将导航链接水平排列 */
header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF; /* 设置导航栏背景颜色 */
    padding: 10px; /* 设置导航栏内边距 */
    height: 90px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex; /* 将列表项水平排列 */
}

nav li {
    margin-right: 10px; /* 为列表项之间添加间距 */
}

nav a {
    text-decoration: none; /* 去除链接的下划线 */
    color: #000; /* 设置链接文本颜色 */
}

/* 添加鼠标悬停效果 */
nav a:hover {
    color: #2077F7; /* 添加链接下划线效果 */
}

nav button {
    width: 130px;
    height: 50px;
    border-radius: 6px;
    border: 2px solid #2077F7;
    color: #2077F7;
    background-color: #FFFFFF; /* 设置默认背景颜色 */
}


/* 按钮悬停时的样式 */
nav button:hover {
    background-color: #2077F7; /* 设置悬停时的背景颜色 */
    color: #fff; /* 设置悬停时的文本颜色 */
}

