/* 将导航链接水平排列 */
#header {
    display: flex;
    background-color: #FFFFFF; /* 设置导航栏背景颜色 */
    padding: 10px; /* 设置导航栏内边距 */
    height: 11vh;
    left: 6vw;
    width:100vw;
    z-index: 10;
}

.li {
    padding-right: 6vw; /* 为列表项之间添加间距 */
    align-self: center;
    font-family: "PingFang SC", sans-serif;
}

.Button {
    width: 8vw;
    height: 5vh;
    border-radius: 6px;
    border: 2px solid #2077F7;
    color: #2077F7;
    background-color: #FFFFFF; /* 设置默认背景颜色 */
    margin-right: 2vw;
    margin-top: 2vh;
    font-size: 0.8vw;
    z-index: 1;
    font-family: "PingFang SC", sans-serif;
}


/* 按钮悬停时的样式 */
.Button:hover {
    background-color: #2077F7; /* 设置悬停时的背景颜色 */
    border: #2077f7;
    color: #FFFFFF !important;;
    cursor: pointer;
}

.Poster {
    position: absolute;
    right: 0;
    width: 50vw;
    z-index: 1;
    height: 60vh;
}

@font-face {
    font-family: 'AlimamaShuHeiTi-Bold';
    src: url('../resources/FontFamily/Alimama_ShuHeiTi_Bold.ttf') format('truetype'); /* 根据字体文件的格式选择合适的值 */
}

.blueMark {
    color: #2077f7;
    pointer-events: none;
}

.Slogan {
    color: #272727;
    font-family: 'AlimamaShuHeiTi-Bold', 'sans-serif';
    height: 35px;
    font-weight: bold;
    font-size: 2.5vw;
    letter-spacing: 5px;
}

.HighLight {
    color: #F83131;
    font-family: 'AlimamaShuHeiTi-Bold', 'sans-serif';
    height: 35px;
    font-weight: bold;
    position: relative;
    letter-spacing: 5px;
    font-size: 2.5vw;
    z-index: 1; /* 设置文本的堆叠顺序，确保在图片之上 */
}


.search-bar {
    z-index: 2;
    position: absolute;
    top: 40vh;
    left: 10vw;
    display: flex;
}

.search-input {
    background-image: url("../resources/Img/HomeImg/search.png");
    background-repeat: no-repeat;
    background-position: 2vw,3vh;
    flex: 1;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    border-radius: 10px 0 0 10px ;
    font-size: 1vw; /* 设置字体大小 */
    height: 10vh;
    width:40vw;
    padding-left: 5vw;
}

.search-input:focus{
    outline: none;
}

.search-button {
    height: 10.1vh;
    width:12vw;
    margin-left: -0.5vw;
    border-radius: 0 10px 10px 0;
    background-color: #F83131;
    border: 0 none;
    color: white;
    font-size: 1.5vw;
}

.search-button:hover {
    color: white!important;
}


.middleSlogan{
    position:absolute;
    z-index: 3 ;
    left:43vw;
    margin-top: 8vh;
    font-weight: bold;
    font-family: "PingFang SC", sans-serif;
    text-align: center;
    font-size: 1.8vw;
    color: #272727;
    text-space: 2vw;
}

.LabelBuilder {
    position: absolute;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    border-radius: 10px;
    font-size: 1.1vw; /* 设置字体大小 */
    height: 7vh;
    width:46vw;
    left: 27vw;
    padding-left: 20px;

}

.LabelBuilder ::placeholder{
    color: #A1A1A1;
    font-family: "PingFang SC", sans-serif;
}

.LabelButton {
    position: absolute;
    height: 4.5vh;
    width: 6vw;
    border-radius: 7px;
    background-color: #2077f7;
    color: white;
    font-size: 0.9vw;
    right: 28vw;
    margin-top: 1.2vh;
    font-family: "PingFang SC", sans-serif;
}

.LabelButton:hover{
    color: white!important;
}

.redBlue {
    width: 100vw;
    height: 80vh;
    background: linear-gradient(269deg, #2077F7, #F83131)
}

.redPink {
    margin-left: 0.4vw;
    margin-top: 0.8vh;
    width: 3.5vw;
    height: 11.4vh;
    background: linear-gradient(-7deg, #FFA8A9,  #FF6767);
    border: 1px solid #F85C5C;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.degree {
    margin-top: 3vh;
    align-self: center;
    justify-self: center;
    font-size: 1vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 800;
    color: #FFFFFF;
}
.fitness {
    margin-top: 0.2vh;
    align-self: center;
    font-size: 0.65vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}
.company {
    width: 11vw;
    margin-top: 3vh;
    font-family: "PingFang SC", sans-serif;
    font-weight: bold;
    font-size: 0.9vw;
    background: #FFFFFF;
    border-radius: 3px;
    white-space: normal;
}

.salary {
    font-size: 16px;
    font-family: "PingFang SC", sans-serif;
    font-weight: bold;
    color: #2077F7;
    line-height: 35px;
}

.personalInfo {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
}

.InfoName {
    margin-top: 0.25vh;
    margin-left: 0.5vw;
    font-size: 0.75vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 500;
    color: #8A94A4;
}

.InfoDetail{
    margin-left: 1.2vw;
    margin-top: 0.2vh;
    font-size: 0.8vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 500;
    color: #272727;
}

.MoreButton {
    width: 8vw;
    height: 5vh;
    border-radius: 6px;
    border: 2px solid #2077F7;
    color: #FFFFFF;
    background-color: #2077F7; /* 设置默认背景颜色 */
    margin-left: 6vw;
    margin-top: 4vh;
    font-size: 0.8vw;
    z-index: 1;
    font-family: "PingFang SC", sans-serif;
}

.ourService {
    font-size: 1.6vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: bold;
    color: #272727;
    line-height: 35px;
    margin-left: 1.2vw;
}

.serviceBackground {
    z-index: 10;
    position: relative;
    top: 30vh;
    color: #FF6767;
    width: 18vw;
    height: 8vh;
    background: #FFFFFF;
    box-shadow: 0 2px 22px 2px rgba(228,236,247,0.6);
    border-radius: 0 0 3px 3px;
}
.MainTitle {
    width: 20vw;
    position: relative;
    top: -1.2vh;
    left: 1vw;
    font-size: 30px;
    font-family: "PingFang SC", sans-serif;
    font-weight: 800;
    color: #2675F1;
    line-height: 21px;
    vertical-align: top;
}

.SubTitle {
    position: relative;
    top: 1vh;
    left: 1vw;
    font-size: 1.2vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 800;
    color: #252525;
    line-height: 21px;
}

.Phone {
    position: relative;
    left: 0.6vw;
    top: -0.5vh;
    font-size: 1.2vw;
    font-family: 'HarmonyOS Sans SC', serif;
    font-weight: 900;
    color: #FFFFFF;

}

.WorkDay {
    font-size: 0.7vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 500;
    color: #9BA0A8;
    line-height: 35px;
    margin-left: 2.5vw;
}
.MailAddress {
    margin-top: 8.8vh;
    margin-left: 5vw;
}

.MailAddressText {
    font-size: 0.9vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 500;
    color: #9BA0A8;
    line-height: 35px;
    position: relative;
    top: -0.5vh;
    margin-left: 0.5vw;
}

.FriendCooperation {
    font-size: 0.9vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 35px;
    margin-right: 3vw;
}

.CooperationLink {
    font-size: 0.8vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 500;
    color: #9BA0A8;
    line-height: 35px;
    margin-right: 3vw;
}
.CopyRight {
    position: relative;
    font-size: 0.9vw;
    font-family: "PingFang SC", sans-serif;
    font-weight: 500;
    color: #9BA0A8;
    line-height: 35px;
    margin-left: 20vw;
    top: 2vh;
}